<app-navbar></app-navbar>
<mat-drawer-container class="example-container ">
    <mat-drawer mode="side" opened class="options" disableClose="true">
        <ul class="nav flex-column text-center">
            <li class="nav-item opt-li">
                <a class="nav-link p-4 active opt-link" routerLink="/customer/my-profile">Mi perfil</a>
            </li>
            <li class="nav-item opt-li">
                <a class="nav-link p-4 active opt-link" routerLink="/customer/my-plans">Mis planes</a>
            </li>
            <li class="nav-item opt-li">
                <a class="nav-link p-4 active opt-link" routerLink="/customer/my-burial-services">Mis servicios</a>
            </li>
            <li class="nav-item opt-li">
                <a class="nav-link p-4 active opt-link" routerLink="/customer/my-requests">Mis solicitudes</a>
            </li>
            <li class="nav-item opt-li">
                <a class="nav-link p-4 active opt-link" routerLink="/landing">Cerrar sesion</a>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>