.container{
    height: 100%;
}

.titles{
    font-size: large;
}

label{
    font-size: medium;
}
.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card{
    height: 90%;
    overflow-y: auto;
}

table{
    width: 100%;
}

button{
    font-size: medium;
}