<app-navbar></app-navbar>
<mat-drawer-container class="example-container ">
    <mat-drawer mode="side" opened class="options" disableClose="true">
        <ul class="nav flex-column text-center">
            <li *ngFor="let item of templateMenu" class="nav-item opt-li">
                <a class="nav-link p-4 opt-link" [routerLink]="[item.path]" routerLinkActive="active">
                    {{ item.text }}
                </a>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>