<div class="container">
    <div class="abs-center">
        <mat-card class="w-50 align-middle" style="background-color: azure;">
            <div class="text-center mt-5 titles">
                <span class="d-block">¿Olvidaste tu contraseña?</span>
                <span class="d-block">Aqui puedes recuperarla</span>
            </div>
            <div class="mx-auto my-5 text-center">
                <label for="email" class="">Correo electronico</label>
                <input type="email" class="form-control w-50 mx-auto" name="recoveryEmail" id="recoveryEmail"
                    [(ngModel)]="recoveryEmail">
                <button class="btn btn-success mt-4" (click)="show()">Recuperar contraseña</button>
            </div>
        </mat-card>
    </div>
</div>